@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.offcanvas-body{
    background-color: #005a70;
}
.offcanvas-header{
    display: flex;
    justify-content: space-around;
    background-color: #005a70;
}
.offcanvas-header img {
    margin-left: 30%;
    object-fit: cover;
    width: 30%;
}

