@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

/* FONDO DEL HTML */
.backgrounds{
    background-color: rgb(112, 112, 112);
}


/* INICIA OFFCANVAS */
.offcanvas-body{
    font-size: 1.10rem;
    background-color: #69adbe;
    color: white;
}
.offcanvas-header{
    display: flex;
    justify-content: space-around;
    background-color:#69adbe;
}
.offcanvas-header img {
    margin-left: 30%;
    object-fit: cover;
    width: 30%;
}

/* DROPDOWNS DEL OFFCANVAS */
.dropdown ul {
    background-color: #013744;
}
.dropdown ul li a{
    font-size: 1.10rem;
    color: white;
}

/* BOTON DE CIERRE */
.botonCierre button{
    background-color: white;
}

.dropdown button {
    font-size: 1.10rem;
    background-color: #69adbe;
    border: none;
}

.titleRedes {
    margin-top: 20%;
    margin-left: 4%;
    font-size: 1.1rem;
}

.container-redesCanvas a {
    list-style: none;
    text-decoration: none;
    margin-left: 3%;
}


nav{
    padding: 1% 0%;
    display: flex;
    justify-content: space-around;
    background-color:#69adbe;
}

.navbarLogo a img {
    object-fit: cover;
    width: 25%;
    margin-left: 25%;
}

/* MENU PARA DESKTOP */
.dropDesk {
    display: none;
}












/* MEDIA QUERY PARA DESKTOP */
@media (width > 1024px){
    nav {
        display: flex;
        justify-content: flex-start;
    }
/* CANVAS */
.canvasContainer {
    display: none;
}

/* DROPDOWNS PARA DESKTOP */
.dropDesk{
    display: flex;
    align-items: center;
}

/* Dropdown Button */
.dropbtn {
    display: flex;
    background-color: #69adbe;
    color: white;
    padding: 16px;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
  }

  /* ICONO DEL DROP */
  .dropbtn::after {
    margin-left: 10px;
    content: url(../img/icon/chevron-abajo.png);
}
  
  /* CONTENEDOR DE CADA DROPDOWN */
  .box-drop {
    margin-left: 20px;
    position: relative;
    display: inline-block;
  }
  
  /* INTERIOR DE CADA DROP */
  .dropdown-body {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #69adbe;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
  }

  /* lINKS DE CADA DROP */
.dropdown-body a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 17vw;
  }

  /* HOVER DE CADA LINK DEL DROP */
.dropdown-body a:hover {background-color: #013744;}

/* HOVER DEL MENU */
.box-drop:hover .dropdown-body {display: block;}

/* HOVER DEL BOTÓN EXTERIOR */
.box-drop:hover .dropbtn {background-color:#013744;}
/* TERMINA DROP PARA DESKTOP */

/* BOTONERA MENU DESKTOP SIN DROP */

.trip-menu a {
    text-decoration: none;
}
.trip-menu button{
    background-color: #69adbe;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 19px;
    margin-left: 20px;
    font-size: 1.25rem;
}

.trip-menu button:hover {
    background-color:#013744;
}











}
/* TERMINA @MEDIA PARA DESKTOP  */